li {
    list-style: none;
    float: left;
    width: 100px;
    margin: 5px;
}

ul {
    margin: 0px 16px;
    padding: 5px 0px;
    color: rgb(0, 0, 0);
    font-size: 24px;
    line-height: 110%;
    font-weight: 400;
}

hr {
    clear: both;
    margin: 10px 0;
    color: black;
}

li a:hover {
    color: rgb(255,0,0)
}   

.inci {
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
    justify-content: center;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    color: #000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.offset {
    display: flex;  
    gap: 70px;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
}

td,th {
    padding: 3px; /* Поля вокруг содержимого таблицы */
    border: 1px solid maroon; /* Параметры рамки */
    text-align: left;
}
